.boxOfBottom {
    background-color: #758694;
}
.collapse {
    display: flex;
    justify-content: end;
}
.active {
    font-size: 25px;
    font-weight: bold;
    color: #FFD0EC;
    font-family: "EB Garamond", serif;
}
.top {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.head {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
}
.about {
    margin-left: 500px;
    position: absolute;
}
h1 {
    font-family: "EB Garamond", serif;
    font-size: 65px;
    color: #4D869C;
    position: absolute;
    z-index: 2;
}
.developer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}
h3 {
    margin-left: 50px;
    color: #E7CCCC;
    font-size: 30px;
    font-family: "EB Garamond", serif;
    font-weight: 600;
}
.boxOfheader, .boxOne, .boxTwo {
    position: absolute;
    font-size: 140px;
    font-weight: 1000;
    color: transparent;
    -webkit-text-stroke: 2px rgb(245, 246, 246);
    mix-blend-mode: screen;
    margin-left: 1200px;
}
.boxOne {
    margin-top: 150px;
    margin-left: 1400px;
}
.boxTwo {
    margin-top: 300px;
    margin-left: 1600px;
}
.laptopbox {
    position: absolute;
    height: 65vh;
    margin-top: 30px;
    margin-left: 800px;
    border-radius: 40px;
    opacity: 0.5;
}
.boxOfContent {
    margin-top: 30px;
    font-size: 15px;
    color: #4D869C;
}
.btn {
    font-size: 25px;
    color: #4D869C;
    font-family: "EB Garamond", serif;
}
.skills {
    display: flex;
    justify-content: center;

}
.boxOfSkills, h2 {
    text-transform: uppercase;
    color: #CDE8E5;
    font-weight: 1000;
    margin-top: 80px;
    font-family: "EB Garamond";
    font-size: 60px;
}
.wraper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
}
.boxOfbadge {
    display: flex;
    justify-content: center;
}
.badge {
    width: 7.8em;
    height: 7.8em;
    margin: 3.5em;
    border-radius: 20%;
    box-shadow: 5px 5px 5px 5px #bcb5b56e;
}
.rounded {
    position: absolute;
    width: 70px;
    height: 70px;
    background: rgb(248, 246, 246);
    border-radius: 30%;
    margin: 6px 6px auto;
    box-shadow: 8px 8px 8px 2px #2c2a2a3b;
}
.brand {
    margin-top: 50px;  
    font-size: 20px; 
}
.rounded .view {
    font-size: 4.6em;
    margin-top: 6px;
} 
.orange {
    background: darkorange;
    color: orange;
}
.blue {
    background: dodgerblue;
    color: deepskyblue;
}
.gold {
    background: gold;
    color: gold;
}
.green {
    background: rgb(19, 19, 21);  
    color: #A2678A;
}
.steel {
    background: rgb(75, 25, 210);
    color: rgb(13, 64, 135);
}
.pink {
    background: rgb(83, 215, 6);
}
.black {
    background-color: black;
    color: black;
}
.blueblack {
    background-color: black;
    color: deepskyblue;
}
.greenblack {
    background-color: green;
    color: black;
}
.purple {
    background-color: black;
    color: rgb(228, 133, 228);
}
.fa-gsap , .fa-figma {
    margin-top: 10px;
    background: black;
}
.sertificat {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
    line-height: 1.5em;
    margin: 50px;
}
.item {
    --color: #9EC8B9;
    width: 240px;
    background-color: var(--color);
    border-radius: 10px;
    padding: 10px 5px;
    box-shadow: #3c40434d 0px 1px 2px 0px,
                #3c404326 0px 1px 3px 1px;
                position: relative;
                cursor: pointer;
}
.item::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 2;
    height: 80%;
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent
    transparent transparent var(--color);
    border-width: 50px 50px 50px 80px;
    filter: drop-shadow(5px 0 4px #00000094);
    transition: filter .5s;
}
.item:nth-child(2) {
    --color: #9EC8B9;
}
.item:nth-child(3){
    --color: #9EC8B9;
}
.layer {
    background-color: #f2f2f2;
    border: 1px solid #fff;
    border-radius: inherit;
    padding: 10px;
    box-shadow: 
        #00000012 0px 1px 2px,
        #00000012 0px 2px 4px,
        #00000012 0px 4px 8px,
        #00000012 0px 8px 16px,
        #00000012 0px 16px 32px,
        #00000012 0px 32px 64px;
        position: relative;
        left: 10px;
        transition: left 1s;
}
.item:hover:after {
    filter: drop-shadow(5px 0 4px #0000001a);
}
.item:hover .layer {
    left: 50px;
}
.project {
    display: flex;
    justify-content: center;
    margin: 30px;
}
.container {
    position: relative;
    width: 1500px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    perspective: 500px;
}
.box {
    box-shadow: 5px 5px 5px 8px;
    border-radius: 20px;
}
.container .box {
    position: relative;
    width: 275px;
    height: 275px;
    background: #000;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin: 20px;
}
.container .box:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}
.container .box .imgBx {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
.container .box .imgBx::before {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #07B2D9, #666666);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
}
.container .box:hover .imgBx::before {
    opacity: 1;
}
.container .box .imgBx img {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .box .content h2 {
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 15px;
    transform: translateY(200px);
    font-family: "EB Garamond";
}
.container .box:hover .content h2 {
    transform: translateY(0px);
    transition-delay: 0.6s;
}
.container .box .content h5 {
    color: #fff;
    transition: 0.5s;
    font-size: 15px;
    transform: translateY(200px);
    font-family: "EB Garamond";
}
.container .box:hover .content h5 {
    transform: translateY(0px);
    transition-delay: 0.7s;
}
.container .box .content button {
    transition: 0.5s;
    transform: translateY(200px);
}
.container .box:hover .content button {
    transform: translateY(0px);
    transition-delay: 0.7s;
}
button {
    background-color: #696262;
    border-radius: 30px;
    color: #fff;
    font-family: "EB Garamond";
}
.footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.element {
    margin-top: 20px;
    overflow: hidden;
}
section {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 20vh;
    background: linear-gradient(to bottom, #24404a,#C1D4D9);
    background-size: cover;
    background-position: center;
}
section:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    background: rgba(3, 18, 20, 0.5);
    backdrop-filter: blur(10px);
    z-index: 10;
}
section .color {
    position: absolute;
    filter: blur(150px);
}
.spisok {
    position: relative;
    display: flex;
}
.spisok .list {
    position: relative;
    list-style: none;
    margin: 10px;
}
.spisok .list .ssylka {
    position: relative;
    top: 0;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #0be2d4;
    font-size: 2em;
    border: 1px solid rgba(255,255,255,0.4);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-radius: 10px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(4px);
    z-index: 1;
    text-decoration: none;
    overflow: hidden;
    transition: top 0.5s, z-index 0s, transform 0.5s;
    transition-delay: 0.5s,0.5s,0s;
}
.spisok .list .ssylka:hover {
    transition-delay: 0s,0.5s,0.5s;
    transform: translateY(50px);
    top: -50px;
    z-index: 11;
}
.spisok .list .ssylka:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(4, 11, 19, 0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 0.5s;
}
.spisok .list .ssylka:hover:before {
    transform: skewX(45deg) translateX(-150px);
}
.smallText {
            position: relative;
            margin-top: 125px;
}
h4 {
    position: absolute;
    z-index: 12;
    margin-left: 750px;
    font-size: 15px;
    color: #579E99;
}
